<div class="slider">
<div id="slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {{#each slides}}
    <button type="button" data-bs-target="#slider" data-bs-slide-to="{{@index}}" class="{{this.class}}" aria-current="true" aria-label="Slide 1"></button>
    {{/each}}
  </div>
  <div class="carousel-inner">
    {{#each slides}}
    <div class="carousel-item {{this.class}}">
      <img src="{{this.imageUrl}}" class="d-block w-100 sl">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{this.title}}</h5>
        <p>{{this.subTitle}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</div> 