<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <!--- Bootstrap CSS --->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/d7fc6ade47.js" crossorigin="anonymous"></script>
  <title>WELCOME PAGE</title>
  <link rel="icon" type="image/png" href="/static/images/LOGO.png">
</head>
 {{>navbar data=details}}
<body>

<section class="header">
<div class="side-menu" id="side-menu">
 <ul>
  <li>ON SALE<i class="fa fa-angle-right"></i></li>
  <li>TOPS<i class="fa fa-angle-right"></i>
   <ul>
    <li>JACKETS</li>
    <li>LONG COATS</li>
    <li>HOODIES</li>
    <li>SHIRTS</li>
    <li>T-SHIRTS</li>
  </ul>
  </li>
  <li>BOTTOMS<i class="fa fa-angle-right"></i>
   <ul>
    <li>JEANS</li>
    <li>CHINOS</li>
    <li>TROUSERS</li>
    <li>SHORTS</li>
  </ul>
  </li>
   <li>ACCESSORIES<i class="fa fa-angle-right"></i>
   <ul>
    <li>JEWELLERIES</li>
    <li>WATCHES</li>
    <li>UNDERGARMENTS</li>
    <li>WALLETS</li>
  </ul>
  </li>
     <li>PERFUMES<i class="fa fa-angle-right"></i></li>
 </ul> 
</div> 

{{> slider slides=slides}}

</section>

<!---FEATURED-CATEGORIES--->
<section class="featured-categories">
  <div class="container">
    <div class="row">
      {{#each featuredcategories}}
      <div class="col-md-4">
        <img src="{{this.imageUrl}}" alt="">
      </div>
      {{/each}}
    </div>
  </div>
</section>

<!---ON SALE PRODUCTS--->

<section class="on-sale">
  <div class="container">
    <div class="title-box">
      <h2>ON SALE</h2>
    </div>
    <div class="row">
    {{#each products}}
    {{#if this.salecheck}}
      <div class="col-md-3">
        <div class="product-top">
          <img src="{{this.imageName}}">
          <div class="overlay-right">
            <button type="button" class="btn btn-secondary" title="QUICK SHOP">
              <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-secondary" title="ADD TO WISHLIST">
              <i class="fa fa-heart-o"></i>
            </button>
            <form action="/add-to-cart" method="POST">
               <input type="hidden" name="productid" value="{{this._id}}">
               <input type="hidden" name="name" value="{{this.productName}}">
               <input type="hidden" name="price" value="{{this.price}}">
               <input type="hidden" name="img" value="{{this.imageName}}">
            <button type="submit" class="btn btn-secondary" title="ADD TO CART">
              <i class="fa fa-shopping-cart"></i>
            </button>
            </form>
          </div>
        </div>
        <div class="product-bottom text-center">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <h3>{{this.productName}}</h3>
            <h5>{{this.price}}</h5>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>

<!---New Products--->

<section class="new-products">
<div class="container">
    <div class="title-box">
      <h2>NEW ARRIVALS</h2>
    </div>
    <div class="row">
      {{#each products}}
      {{#if this.newcheck}}
      <div class="col-md-3">
        <div class="product-top">
          <img src="{{this.imageName}}">
          <div class="overlay-right">
            <button type="button" class="btn btn-secondary" title="QUICK SHOP">
              <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-secondary" title="ADD TO WISHLIST">
              <i class="fa fa-heart-o"></i>
            </button>
            <form action="/add-to-cart" method="POST">
               <input type="hidden" name="productid" value="{{this._id}}">
               <input type="hidden" name="name" value="{{this.productName}}">
               <input type="hidden" name="price" value="{{this.price}}">
               <input type="hidden" name="img" value="{{this.imageName}}">
            <button type="submit" class="btn btn-secondary" title="ADD TO CART">
              <i class="fa fa-shopping-cart"></i>
            </button>
            </form>
          </div>
        </div>
        <div class="product-bottom text-center">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <h3>{{this.productName}}</h3>
            <h5>{{this.price}}</h5>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>

<!---Website Features--->

<section class="website-features">
  <div class="container">
    <div class="row">
      {{#each featurebox}}
      <div class="col-md-3 feature-box">
           <img src="{{this.imageUrl}}">
           <div class="feature-text">
            <p><b>{{this.bold}} </b> {{this.para}}</p>
           </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<!---Footer--->

<section class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <h1>LINKS</h1>
        <p>PRIVACY POLICY</p>
        <p>TERMS OF USE</p>
        <p>RETURN POLICY</p>
        <p>DISCOUNT COUPONS</p>
      </div>
      <div class="col-md-3">
        <h1>COMPANY</h1>
        <p>ABOUT US</p>
        <p>CONTACT US</p>
        <p>CAREER</p>
        <p>AFFILIATE</p>
      </div>
      <div class="col-md-3">
        <h1>FOLLOW US ON</h1>
        <p><i class="fa fa-facebook-official"></i> FACEBOOK</p>
        <p><i class="fa fa-youtube-play"></i> INSTAGRAM</p>
        <p><i class="fa fa-linkedin"></i> LINKEDIN</p>
        <p><i class="fa fa-twitter"></i> TWITTER</p>
      </div>
      <div class="col-md-3 footer-image">
        <h1>DOWNLOAD APP</h1>
        <img src="/static/images/APP LOGO.png">
      </div>
    </div>
    <hr>
    <p class="copyright"><i class="fa fa-registered"></i> 2023 TANZEEL TECH ALL RIGHT RESERVED</p>
  </div>
</section>
  
<!-- JS popper -->
  <script>
    function openmenu()
    {
      document.getElementById("side-menu").style.display="block";
      document.getElementById("menu-btn").style.display="none";
      document.getElementById("close-btn").style.display="block";
    }
    function closemenu()
    {
      document.getElementById("side-menu").style.display="none";
      document.getElementById("menu-btn").style.display="block";
      document.getElementById("close-btn").style.display="none";
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>